body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.container {
  width: 80%;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.hello-world {
  color: #00698f;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
